/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: #e0dddd;
}
h1 {
  font-size: 5.5rem;
}
h2 {
  font-size: 5rem;
}
p,
a {
  font-size: 1.6rem;
  line-height: 1.4;
}
.nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .nav {
    flex-direction: column;
  }
}
.nav .linkscontainer {
  width: 50%;
}
@media (max-width: 500px) {
  .nav .linkscontainer {
    width: 85%;
    text-align: center;
    margin-top: 20px;
  }
}
.nav .linkscontainer .links {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .nav .linkscontainer .links {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .nav .linkscontainer .links {
    margin-top: 20px;
  }
}
.nav .linkscontainer a {
  text-decoration: none;
}
@media (max-width: 500px) {
  .nav .linkscontainer a {
    margin-bottom: 10px;
    font-size: 1.8rem;
    width: 60%;
    border-bottom: 2px solid white;
  }
}
.nav .linkscontainer a:hover {
  color: white;
}
.headercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
}
@media (max-width: 500px) {
  .headercontainer {
    height: 400px;
  }
}
.main-header {
  display: flex;
  align-items: center;
  width: 50%;
  height: 300px;
}
@media (max-width: 500px) {
  .main-header {
    width: 85%;
  }
}
.main-header p {
  margin-top: 15px;
}
.headerblock {
  align-content: middle;
}
.above-banner {
  height: 750px;
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.above-banner img {
  width: 12.5%;
}
.above-banner h1,
.above-banner h2,
.above-banner p,
.above-banner a {
  color: #e0dddd;
}
.main-header .getstartedbutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.main-header .getstartedbutton a {
  font-size: 2.5rem;
  text-decoration: none;
  border-radius: 25px;
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.main-header .getstartedbutton a:hover {
  background-color: #e0dddd;
  color: black;
}
.under-banner,
.under-banner a {
  color: black;
}
.under-banner {
  margin-top: 80px;
}
.firstrow {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .firstrow {
    flex-direction: column;
    align-items: center;
  }
}
.infoblock1,
.infoblock2 {
  width: 40%;
  text-align: center;
}
@media (max-width: 500px) {
  .infoblock1,
  .infoblock2 {
    width: 85%;
    padding-bottom: 50px;
  }
}
.infoblock1 p,
.infoblock2 p,
.calltoaction p {
  margin-top: 15px;
}
.calltoaction {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .calltoaction {
    margin-top: 5px;
  }
}
.call-block {
  width: 50%;
}
@media (max-width: 500px) {
  .call-block {
    width: 85%;
  }
}
.call-block h2 {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 15px;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: gray;
}
.calltoaction .bottomgetstarted {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.calltoaction .bottomgetstarted a {
  font-size: 2.5rem;
  text-decoration: none;
  border-radius: 25px;
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.calltoaction .bottomgetstarted a:hover {
  background-color: black;
  color: #e0dddd;
}
.nav img {
  width: 12.5%;
}
.nav {
  background-color: black;
}
.nav a {
  color: #e0dddd;
}
.meetTeam {
  width: 50%;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}
.rowOne {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.rowTwo {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.rowThree {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.personOne {
  text-align: center;
}
.personTwo {
  text-align: center;
}
.personThree {
  text-align: center;
}
.personFour {
  text-align: center;
}
.personFive {
  text-align: center;
}
.personSix {
  text-align: center;
}
img {
  border-radius: 10%;
}
a {
  text-decoration: none;
}
