.aboutnav {
    box-shadow: 0 3px 6px 1px rgba(80, 78, 80, 1.8);
}

.meetTeam {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-weight: 800;

    @media @phone {
        width: 70%;
    }
}
.rowOne, .rowTwo, .rowThree, .rowFour {
    .rowStyle();
}


.personOne, .personTwo, .personThree , .personFour, .personFive, .personSix, .personSeven, .personEight {
    text-align: center;
} 


img {
    border-radius: 10%;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}

.entireContainer h2{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
}




//Making this comment so I can re-push to Github






