.nav img {
    width: 12.5%;
    margin-top: 5px;
}

.nav {
    background-color: @background-black;
    padding-bottom: 15px;
}

.nav a{
    color: @special-white;
}

.meetTeam {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-weight: 800;

    @media @phone {
        width: 70%;
    }
}
.rowOne {
    .rowStyle();
   

   @media @phone {
    flex-direction: column;
    align-items: center;
}
    @media @tablet {
    flex-direction: column;
    align-items: center;
}
}
.rowTwo {
    .rowStyle();
    
    

    @media @phone {
        flex-direction: column;
        align-items: center;
    }
    @media @tablet {
        flex-direction: column;
        align-items: center;
    }
}
.rowThree {
    .rowStyle();
    

    @media @phone {
        flex-direction: column;
        align-items: center;
    }
    @media @tablet {
        flex-direction: column;
        align-items: center;
    }
}
.rowFour {
    .rowStyle();
    

    @media @phone {
        flex-direction: column;
        align-items: center;
    }
    @media @tablet {
        flex-direction: column;
        align-items: center;
    }
}

.personOne, .personTwo, .personThree , .personFour, .personFive, .personSix, .personSeven, .personEight {
    text-align: center;
} 


img {
    border-radius: 10%;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}

.entireContainer h2{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
}




//Making this comment so I can re-push to Github






