.nav img {
    width: 12.5%;
    margin-top: 5px;
}

.nav {
    background-color: @background-black;
    padding-bottom: 15px;
}

.nav a{
    color: @special-white;
}

.meetTeam {
    width: 50%;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}
.rowOne {
   display: flex; 
   justify-content: space-evenly;
   width: 70%;
   margin: 0 auto;
   margin-top: 100px;
}
.rowTwo {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.rowThree {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

.personOne {
    text-align: center;
} 
.personTwo {
    text-align: center;
}
.personThree {
    text-align: center;
}
.personFour {
    text-align: center;
}
.personFive {
    text-align: center;
}
.personSix {
    text-align: center;
}

img {
    border-radius: 10%;
}
a {
    text-decoration: none;
}



// .teamContainer {
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: 150px;
//     margin-left: auto;
//     margin-right: auto;
//     width: 50%;
//     border: 1px solid red;
//     justify-content: space-around;
// }

// .personOne{
//     text-align: center;
// }
// .personTwo{
//     text-align: center;
// }
// .personThree{
//     text-align: center;
// }
// .personFour{
//     text-align: center;
// }
// .personFive{
//     text-align: center;
// }
// .personSix{
//     text-align: center;
// }









