.under-banner, .under-banner a {
    color: @special-black;
}

.under-banner {
    margin-top: 80px;
}

.firstrow {
    display: flex;
    justify-content: space-around;

    @media @phone {
        flex-direction: column;
        align-items: center;
    }
}

.infoblock1, .infoblock2 {
    width: 35%;
    text-align: center;
    border-top: 2px solid @special-black;
    padding-top: 10px;

    @media @phone {
        width: 85%;
        padding-bottom: 50px;
    }
}

.infoblock1 p, .infoblock2 p, .calltoaction p {
    margin-top: 15px;
}

.calltoaction {
    width: 100%;
    margin-top: 100px;
    .center();

    @media @phone {
        margin-top: 5px;
    }
}

.call-block {
    width: 35%;
    border-top: 2px solid @special-black;
    padding-top: 10px;

    @media @phone {
        width: 85%;
    }
    
    h2 {
    text-align: center;
}
}

footer {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 15px;
    a {
    text-decoration: none;
    &:hover {
        color: gray;
    }
}
}

.calltoaction .bottomgetstarted {
    .center();
    margin-top: 30px;
    width: 100%;
    @media @phone {
        margin-top: 30px;
    }
    @media @tablet {
        margin-top: 30px;
    }
    a {
    .getstartedbutton();
    border: 2px solid @special-black;
    color: @special-white;
    background-color: @background-black;
    &:hover {
        background-color: @special-black;
    }
}
}
