.under-banner, .under-banner a {
    color: @special-black;
}

.under-banner {
    margin-top: 80px;
}

.firstrow {
    display: flex;
    justify-content: space-around;

    @media @phone {
        flex-direction: column;
        align-items: center;
    }
}

.infoblock1, .infoblock2 {
    width: 35%;
    text-align: center;

    @media @phone {
        width: 85%;
        padding-bottom: 50px;
    }
}

.infoblock1 p, .infoblock2 p, .calltoaction p {
    margin-top: 15px;
}

.infoblock1 h2, .infoblock2 h2, .calltoaction h2 {
    font-weight: 600;
}

.calltoaction {
    width: 100%;
    margin-top: 100px;
    .center();

    @media @phone {
        margin-top: 5px;
    }
}

.call-block {
    width: 35%;

    @media @phone {
        width: 85%;
    }
    
    h2 {
    text-align: center;
}
}

.calltoaction .bottomgetstarted {
    .center();
    margin-top: 30px;
    width: 100%;
    @media @phone {
        margin-top: 30px;
    }
    @media @tablet {
        margin-top: 30px;
    }
    a {
    .getstartedbutton();
    border: 2px solid @special-black;
    color: @special-white;
    background-color: @background-black;
    &:hover {
        background-color: @special-white;
        border: 2px solid @special-black;
        color: @special-black;
    }
}
}
