.nav {
    .center();
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

    @media @phone {
        flex-direction: column;
    }
    @media @tablet {
        flex-direction: column;
    }
}

.nav .linkscontainer {
    width: 50%;
    @media @phone {
        width: 85%;
        text-align: center;
        margin-top: 20px;
    }
    .links {
        display: flex;
        justify-content: space-between;
        @media @phone {
            flex-direction: column;
            align-items: center;
        }
        @media @tablet {
            margin-top: 20px;
        }
    }
    a {
    text-decoration: none;
    @media @phone {
        margin-bottom: 10px;
        font-size: 1.8rem;
        width: 60%;
        border-bottom: 2px solid white;
    }
    &:hover {
        color: white;
    }
}
}

.headercontainer {
    .center();
    align-items: center;
    text-align: center;
    height: 600px;

    @media @phone {
        height: 400px;
    }
}

.main-header {
    display: flex;
    align-items: center;
    width: 50%;
    height: 300px;

    @media @phone {
        width: 85%;
    }

    p {
    margin-top: 15px;
}
}

.headerblock {
    align-content: middle;
}

.above-banner {
    height: 750px;
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
        img {
        width: 12.5%;
        }
    }

.above-banner h1, .above-banner h2, .above-banner p, .above-banner a {
    color: @special-white;
}

.main-header .getstartedbutton {
    .center();
    margin-top: 20px;
    width: 100%;
    a {
        .getstartedbutton();
        border: 2px solid white;
        &:hover {
            background-color: @special-white;
            color: black;
        }
    }
}


