.nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.nav .linkscontainer {
    width: 50%;
}

.nav a {
    text-decoration: none;
}

.linkscontainer .links {
    display: flex;
    justify-content: space-between;
}

.headercontainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.main-header {
    width: 50%;
    justify-content: center;
    align-content: middle;
    margin-top: 130px;
    line-height: 1.7;
}

.under-banner {
    margin-top: 20px;
}

.above-banner h1, .above-banner h2, .above-banner p, .above-banner a {
    color: rgb(224, 221, 221);
}

.signupbutton {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 20px;
    width: 50%;
    margin-left: 200px;
}

.signupbutton a {
    font-size: 2.5rem;
    text-decoration: none;
}

.under-banner, .under-banner a {
    color: rgb(224, 221, 221);
    margin-top: 250px;
}